.grey{
	background-color: #5C5C5C!important;
	
}
.greyp{
	background-color: #CCCCCC !important;	
}
.grey2{
	background-color: #909090!important;
}
.grey2p{
	background-color: #A3A3A3 !important;
}
.grey3{
	background-color: #686868 !important;
}
.grey3p{
	background-color: #606060 !important;
}


.red{
	background-color: #BE4C39 !important;
}

.redH{
	color: #BE4C39 !important;
}
.red2{
	background-color: #6E2C20!important;
}
.red3{
	background-color: #67291E!important;
}

.blue{
	background-color: #4472B9!important;
}
.bluep{
	background-color: #4572BA!important;
}
.blue2{
	background-color: #28436D!important;
}
.blue2p{
	background-color: #29446E!important;
}
.blue3{
	background-color: #28436D!important;
}
/*21494A - 245269*/

.green{
	background-color: #4CA454 !important;	
}
.greenp{
	background-color: #51A858 !important;
}
.greenpp{
	background-color: #439149 !important;
}
.green2{
	background-color: #2C5B30 !important;
}
.green3{
	background-color: #1F4422 !important;
}

.yellow{
	background-color: #C9761C !important;
}
.yellow2{
	background-color: #8C5114 !important;
}
.yellow2p{
	background-color: #8D5214 !important;
}
.yellow3{
	background-color: #7E4912!important;
}

.verd{
	background-color: #008000 !important}
.groc{
	background-color: #FFFF00 !important;
}
.tronja{
	background-color: #FFAA3E !important;
}
.vermell{
	background-color: #BE4C39 !important;
}